---
const personalImageAlt = "Miguel Ángel"
import Badge from "@/components/Badge.astro"
import LinkedInIcon from "@/components/icons/LinkedIn.astro"
import MailIcon from "@/components/icons/Mail.astro"
import WhatsappIcon from "@/components/icons/Whatsapp.astro"
import SocialPill from "@/components/SocialPill.astro"
---

<div class="max-w-xl">
  <div class="flex gap-4 mb-4">
    <img
      class="rounded-full shadow-lg size-16"
      src="/me.jpg"
      alt={personalImageAlt}
    />
    <a
      href="https://linkedin.com/in/mafabiandev"
      target="_blank"
      rel="noopener"
      class="flex items-center transition md:justify-center md:hover:scale-105"
    >
      <Badge>Disponible para trabajar</Badge>
    </a>
  </div>
  <h1
    class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
  >
    Hola, soy Miguel Fabián
  </h1>
  <p
    class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300"
  >
    +10 años de experiencia. <strong
      >Ingeniero Informático, Backend Developer, Full Stack Developer, SQL Developer</strong
    > resido en la ciudad de Villa Hayes, Paraguay <span class="flag-icon flag-icon-py"></span>. Especializado en el desarrollo de aplicaciones web y Transformaciones de Datos, he trabajado para 
    entes privados y públicos.
  </p>
  <nav class="flex flex-wrap gap-4 mt-8">
    <SocialPill href="mailto:mafabiandev@gmail.com">
      <MailIcon class="size-4" />
      Contáctame
    </SocialPill>
    <SocialPill href="https://wa.me/595972333033?text=Hola%20Miguel%2C%20como%20estas%21%3F%20Te%20contacto%20porque%20estaba%20visualizando%20tu%20porfolio%20y%20me%20parece%20interesante%2C%20nos%20gustaria%20tener%20contigo%20una%20entrevista">
      <WhatsappIcon class="size-4" />
      Enviar Whatsapp
    </SocialPill>
    <SocialPill href="https://linkedin.com/in/mafabiandev">
      <LinkedInIcon class="size-4" />
      LinkedIn
    </SocialPill>
  </nav>
</div>
